/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

.grid-container {  
   display: grid; 
     grid-template-columns: 70% auto; 
    }

    .grid-container2 {  
      display: grid; 
        grid-template-columns: auto auto auto; 
      margin-top: 25px;

      }

      .grid-container3 {
        display: grid;
        grid-template-columns: auto;
      margin-right: 20px;
      }

      .grid-container4 {
        display: grid;
        grid-template-columns: auto;
      
      }

      .grid-container5 {
        display: grid;
        grid-template-columns: auto;
      margin-left: 20px;
      }


      .grid-container6 {
        display: grid;
        grid-template-columns: auto;
      margin-right: 20px;
      }


      .grid-container7 {
        display: grid;
        grid-template-columns: auto;
      
      }
.grid-container8 {
  display: grid;
grid-template-columns: auto auto auto;
}

.wrapper {
  text-align: auto;
}

